meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Competencias digitales en el talento humano salud
meta(meta name="description" content="Las Tecnologías de la Información y la Comunicación (TIC) están en constante evolución y cada vez más la salud digital se fortalece y se apoya de estas herramientas, convirtiéndose en un gran aliado al momento de la prestación del servicio, puesto que permite la integración de la información de una manera oportuna, confiable, eficiente y segura.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")