meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Interoperabilidad de los sistemas de salud
meta(meta name="description" content="Para garantizar la continuidad de la atención médica en el intercambio de información de salud, se hace cada vez más necesario intercambiar información de manera confiable a través de la interoperabilidad y, al mismo tiempo, garantizar la seguridad de la tecnología, de acuerdo con la normativa vigente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")