h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Desarrollar habilidades digitales para el uso del mecanismo de interoperabilidad de la historia clínica según orientaciones.






