.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Ciberseguridad: 
            | conjunto de procedimientos, técnicas o herramientas que brinden seguridad a los usuarios que gestión información en las redes. 
        hr

        p
            strong.mr-2 Hacker: 
            | es un término que define a una persona que reconoce las vulnerabilidades de seguridad de un sistema informático.
        hr

        p
            strong.mr-2 Interoperabilidad: 
            | capacidad que tiene un sistema para enlazarse con otro para intercambiar y usar información específica.

        hr

        p
            strong.mr-2 Tecnología emergente: 
            | entiéndanse como las herramientas que dentro de un período corto van a revolucionar los procesos de empresas, gremios, etc.