.container

    .header-ecored
        h1 1. Historia clínica



    .card
        .card-body


            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span A

                        .list__txt
                            h3 Concepto

                            p La historia clínica es un documento de carácter privado, en el cual se registran las condiciones clínicas de una persona; es de uso obligatorio y debe tener reserva absoluta.  En ella también deben reposar las atenciones, procedimientos y demás acciones que desarrolle el equipo de salud.  Solo su dueño puede autorizar que sea vista o manipulada por terceros. 


            hr

            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span B

                        .list__txt
                            h3 Normatividad

                            p El Sistema de Seguridad Social en Salud colombiano se rige por un conjunto de normas, entre las cuales encontramos las siguientes, relacionadas con el manejo de la historia clínica, las cuales, si lo desea, puede descargarlas y/o visualizarlas de acuerdo a su interés:                           


            .row.justify-content-center.my-5
                .col-12.col-md-5
                    p.text-center
                        .bg-caption
                            h4 Normatividad relacionada con el manejo de la historia clínica


            .row.justify-content-center
                .col-11.col-md-8
                    section    

                        .timeline-card-wrapper.pt-5                          

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo1_Ley_23.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 23
                                            p Normas en materia de ética médica. 
                                    .date
                                        h2 1981

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo2_Circular_02.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Circular 02
                                            p Incorporar tecnologías de punta en la administración de los archivos. 
                                    .date
                                        h2 1997

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo3_Ley_527.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 527
                                            p Intercambio Electrónico de Datos (EDI).
                                    .date
                                        h2 1999

                           

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo4_Resolucion_1995.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 1995
                                            p Normas y manejo de la historia clínica.
                                    .date
                                        h2 1999   

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo5_Ley_594.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 594
                                            p Gestión de los archivos de historias clínicas.
                                    .date
                                        h2 2000

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo6_Ley_1438.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1438
                                            p Historia Clínica Única Electrónica.
                                    .date
                                        h2 2011   

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo7_Decreto_2364.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Decreto   2364
                                            p Por medio del cual se reglamenta la firma electrónica.
                                    .date
                                        h2 2012


                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo8_Resolucion_2003.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 2003
                                            p Verificación del cumplimiento de las condiciones de habilitación en historia clínica y registros.
                                    .date
                                        h2 2014

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo9_Decreto_1080.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Decreto 1080
                                            p Características del documento electrónico de archivo.
                                    .date
                                        h2 2015

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo10_Decreto_0780.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Decreto 780
                                            p Interoperabilidad de datos de la historia clínica.
                                    .date
                                        h2  2016

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo11_Resolucion_839.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 839
                                            p Tiempo de retención y conservación de la historia clínica.
                                    .date
                                        h2 2017


                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo12_Ley_2015.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 2015
                                            p Historia clínica electrónica interoperable.
                                    .date
                                        h2 2020

            hr 

            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span C

                        .list__txt
                            h3 Historia clínica electrónica

                            p.text-center
                                img(src="assets/images/pages/tema-1/tema1-p3.svg", alt="").img-fluid
 
                            p.mt-4 Con la revolución de las TIC el mundo necesita el acceso oportuno a la información, y con ello el sector salud ha introducido cambios en la forma de trabajar, incorporando herramientas digitales que buscan aumentar la eficiencia y la disminución de errores en pro del beneficio del paciente. 

                            p.mt-4 Teniendo en cuenta lo anterior, el gobierno colombiano ha implementado la normatividad correspondiente con base en una herramienta que contenga de manera estructurada la información relacionada con el estado de salud del paciente, (antecedentes, comorbilidades, patologías, tratamiento) de manera que facilite y agilice la atención por parte de los profesionales de la salud. Además de los registros clínicos, en esta herramienta se deben almacenar los registros científicos, técnicos y administrativos correspondientes al proceso de atención. 

                            p.text-center.my-4
                                img(src="assets/images/pages/tema-1/tema1-p3-2.svg", alt="").img-fluid

                            p.mt-4 En Colombia se utiliza el concepto de Registros Electrónicos de Salud en sus siglas EHR para los efectos de interoperabilidad de datos de la historia clínica.

                            p.mt-4 La historia clínica electrónica busca no solo reducir la brecha digital, sino también, garantizar el acceso a los servicios de salud y la información completa de las personas, cumpliendo con la normatividad vigente, que garantice la privacidad y reserva de la información allí contenida en beneficio de los pacientes, ya que este tipo de historia clínica permite tener la trazabilidad de la atención de manera cronológica. 

            hr 

            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span D

                        .list__txt
                            h3 Elementos de datos

                            p.text-center
                                img(src="assets/images/pages/tema-1/tema1-p4.svg", alt="").img-fluid
 
                            p.mt-4 La cuarta revolución industrial propone una transformación digital, la cual está enmarcada no solo en la implementación de las tecnologías emergentes, sino en el uso que le damos a los datos y cómo la convertimos en información.

                            p.mt-4 En el componente formativo anterior abordamos el concepto de “datos”, indicando cómo tienen la capacidad de describir situaciones a través de símbolos.  Esta capacidad del dato obliga a definir de manera asertiva la información que se desea procesar o no.  Esta definición permite a su vez, establecer el formato en que se van a almacenar y cómo se van a gestionar para la toma de decisiones.

                            p.mt-4 Los datos en sí mismos no aportan valor, estos se caracterizan por no contener ninguna información, por lo que deben asociarse dentro de un contexto para convertirse en información (García , Divano , & Böttiche, 2011). Es por ello que los datos de calidad pueden marcar la diferencia en una organización.


            hr

            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span E

                        .list__txt
                            h3 Información, mecanismo de interoperabilidad 


                            p.text-center
                                img(src="assets/images/pages/tema-1/tema1-p5.svg", alt="").img-fluid
 
                            p.mt-4 El valor de la información clínica cobra cada día mayor valor en el sector salud, ya que a partir de esta se toman decisiones en cuanto al diagnóstico, tratamiento, factores de riesgo y la implementación de estrategias, para mejorar la prestación del servicio.

                            p.mt-4 Por esta razón, las instituciones de salud le dan mucha importancia al dato que se registra, buscando que este sea eficaz, pero para ello es importante tener en cuenta que entre más manual es un proceso, más fácil es incurrir en un error, ya sea por mal diligenciamiento o por el diligenciamiento incompleto de la información. Es por ello que cada vez más las tecnologías de la información se adhieren a los procesos productivos, con el fin de automatizarlos, reducir los errores y estandarizarlos, para que puedan ser interoperables, es decir, para que los sistemas se conecten entre sí y puedan compartir datos.

                            p.my-4 Lo anterior nos señala la importancia de la automatización de procesos y con base en esto, el desarrollo de la interoperabilidad, definiendo las variables estructuradas y los documentos, datos e información que se intercambiará, lo que permite la conexión y el flujo de la información entre las instituciones. Al tener un sistema de información ya estandarizado, el ingreso en el mecanismo de interoperabilidad se realizará de manera más fácil (Ministerio de salud, 2020).

                            p.text-center.my-4
                                img(src="assets/images/pages/tema-1/tema1-p5-I3.svg", alt="").img-fluid


                            p.mt-4 Por medio de la interoperabilidad, la organización escoge qué información va a compartir con los demás; así, con la conexión de los sistemas de información de las organizaciones, a través de un sistema de información estandarizado, los beneficios más evidentes son: evita la filtración de información sensible y permite tener datos claros, reales, confiables y actualizados.

                            p.mt-4 En Colombia, el Ministerio de Salud y Protección Social adoptará un plan de implementación de Interoperabilidad de la Historia Clínica Electrónica (IHCE) para el intercambio de los datos clínicos relevantes, que permita dar continuidad a la atención y seguridad del paciente. Este plan deberá tener en cuenta las condiciones específicas de los sujetos obligados y la implementación de un sistema de historia clínica, teniendo como plazo máximo de desarrollo, cinco (5) años contados a partir de la entrada en vigencia de la Ley 2015 de 2020 (Congreso de la República de Colombia, 2020).

                            p.mt-4 Según el #[strong Ministerio de Salud de Colombia (2020)], con la #[strong implementación de la Interoperabilidad en la Historia Clínica Electrónica], algunos de #[strong los beneficios] que se verán #[strong reflejados en el sector salud son]: 

                            .row.justify-content-center.mt-5

                                .col-10.col-md-8
                                    .card-media(style="background:#ECEFFE")
                                        .card-media__body                 
                                            figure.card__figure
                                                img(src="assets/images/pages/tema-1/tema1-p6-1.svg").img-fluid
                                            p.card__copy 
                                                span 
                                                    |  Consultar información de los pacientes desde cualquier lugar del país sin importar el sitio de atención del paciente.


                                .col-10.col-md-8
                                    .card-media(style="background:#ECEFFE")
                                        .card-media__body                 
                                            figure.card__figure
                                                img(src="assets/images/pages/tema-1/tema1-p6-2.svg").img-fluid
                                            p.card__copy 
                                                span 
                                                    |  Los profesionales de la salud tendrán datos claros reales y confiables de todos los antecedentes de salud del paciente.

                                .col-10.col-md-8
                                    .card-media(style="background:#ECEFFE")
                                        .card-media__body                 
                                            figure.card__figure
                                                img(src="assets/images/pages/tema-1/tema1-p6-3.svg").img-fluid
                                            p.card__copy 
                                                span 
                                                    |  Mejorar los diagnósticos y lograr una atención más segura.


                                .col-10.col-md-8
                                    .card-media(style="background:#ECEFFE")
                                        .card-media__body                 
                                            figure.card__figure
                                                img(src="assets/images/pages/tema-1/tema1-p6-4.svg").img-fluid
                                            p.card__copy 
                                                span 
                                                    |  Los pacientes recibirán una atención más segura y rápida debido a que el medico podrá visualizar por medio de un sistema toda la información en orden cronológico de la historia clínica de su paciente.


                            p.mt-5 Finalmente, #[strong el mecanismo de interoperabilidad está estructurando el trabajo alrededor de seis ejes principales] sobre los cuales se han ido estableciendo métodos y planes de trabajo: 


                            #tema-2-q5.mt-5

                                .row.justify-content-center.align-items-end
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-p7-1.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 1. Planeación estratégica                                

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-p7-2.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 2. Diseño operacional
                                                    

                                .row.justify-content-center.align-items-end.mt-5
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-p7-3.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 3.	Códigos y estándares 

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-1/tema1-p7-4.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 
                                                            strong 4.	Tecnología


                                .row.justify-content-center.align-items-end.mt-5
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-p7-5.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 5.	Talento humano

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-p7-6.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 6.	Marco legal                           